@media (min-width 0) and (max-width 767px) and (orientation: portrait)
	.card
		height 35vh
		width 100vw
		top 45%
		left 0%
		background-position top
		
	.box
		height 35%
		width 100%
		left 0%
		top 10%
		padding 0px
		box-shadow 10px 0 50px 15px rgba($tuna, 0.75)
		&__content
			left 16.66666667%
		&__title
			font-size 30px
		&__caption
			font-size 10px
		&__counter
			margin-top 25px
			&--days
			&--hours
			&--minutes
				margin-right 15px
			&--number
				font-size 12px
				padding 10px 8px
			&--info
				font-size 10px
		&__purchase a
			padding 12px
			margin-top 15px
			width 135px
			font-size 10px
		&__date
			margin-top 15px
			margin-left 30px
			padding 3px 5px 0px 5px 
			text-align center
			&--day
				margin-top 5px
				font-size 15px
				line-height 0
			&--month 
				font-size 10px

@media (min-width 768px) and (max-width 1023px) and (orientation: portrait)
	.card
		height 50vh
		width 60vw
		top 30%
		left 5%
		
	.box
		height 350px
		width 400px
		background white
		position absolute
		left 45%
		top 40%

@media (min-width 0) and (max-width 768px) and (orientation: landscape)
	.card
		height 70vh
		width 60vw
		top 20%
		left 5%
		
	.box
		height 180px
		width 260px
		background white
		position absolute
		left 50%
		top 30%
		&__content
			left 8%
			margin-top 10px
		&__title
			font-size 30px
		&__caption
			font-size 10px
		&__counter
			margin-top 15px
			&--days
			&--hours
			&--minutes
				margin-right 10px
			&--number
				font-size 12px
				padding 10px 8px
			&--info
				font-size 10px
		&__purchase a
			padding 12px
			margin-top 15px
			width 135px
			font-size 10px
		&__date
			margin-top 15px
			margin-left 20px
			padding 3px 5px 0px 5px 
			text-align center
			&--day
				margin-top 5px
				font-size 15px
				line-height 0
			&--month 
				font-size 10px